.active{
    background: #2a2527;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:0%;
}

/* nav */
nav{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

nav li {
    float: left;
}

nav ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b95345;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



header {
    display:flex;
    margin:0;
    justify-content: space-between;
    flex-direction: column;
    background:#2a2527;
}

#bannerContainer img {
    width: 75%;
    margin-left: 12.5%;
    height: auto;
}

#bannerContainer .enrol {
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -40px;
    margin-bottom: 40px;
    background-color: #2a2527;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 5px;
    text-align: center;
}
  
#bannerContainer .enrol:hover {
    background-color: #b95345;
    color: white;
}

main img{
    max-width: 80%;
    height: auto;
    margin-left:15px;
    margin-top:15px;
}

main.about img{
    max-width: 100%;
    height: auto;
    margin-left:30%;
    margin-top:15px;
}


#heading{
    text-align: center;
    background-color: #b95345;
    color:white;
    width:90%;
    margin:auto;
    padding: 10px;
}

body {
    margin:0;
    min-width:100%;
}

main {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    margin:auto;
    border:1px solid black;
    min-width:800px;
}

.asideText ,#compCoursesImg{
    margin-top: 2.5%;
    margin-left:5%;
    width: 40%;
    float:left;
    border: 1px solid black;
    font-size: 20px;
    min-height:40%;
    margin-bottom: 2.5%;
}

.asideText p{
    padding:0% 5%;
}

#facilList {
    width:90%;
}

#facilDesc {
    margin-top: 120px;
}

aside img{
    
    margin-right:5%;
    width: 45%;
    float:right;
}


html {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}


#section2 #asideText{
    float:left;
    margin-left:5%;
    margin-top:-50%;
    min-width:300px;
}

#section3 #asideText {
    float: left;
    margin-left: 5%;
    margin-right:0%;
    margin-top:5%;
    width:25%;
}

#section3 #asideText.right {
    float: right;
    margin-left: 0%;
    margin-right:5%;
    margin-top:5%;
    width:25%;
}

#section3 #heading {
    width:70%;
    margin-left:15%;
    margin-top:-5%;
}

#section3 img{
    margin-top: -100%;
    margin-left:32.5%;
    width:35%;
}
footer {
    height:120px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:10%;
    display:flex;
    justify-content: space-around;
    color:white;
    background: #2a2527;
}

main {
    padding-top: 10px;
    width:100px;
    margin:auto;    
    min-width: 75%;
    border:1px solid black;
}

#homeSections {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#studySection, #supportSection, #techSection{
    margin: 15px 0px;
}











#copy{
    margin-top:10%;
    font-size: 22px;
}

.courseBlock {

    margin-top:20px;
    font-size:20px;
    width:500px;
    margin-left:25%;
    margin-right:30%;
    border: 1px solid #b95345;
    margin-bottom:2%;

}

.courseBlock h3{
    text-decoration-line: underline;
    background-color: #2a2527;
    width: 45%;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
}

.courseBlock div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:gray;
}

.courseBlock #description, h4, h3{
    margin-left:2%;
    margin-right:2%;
}

#compCoursesImg{
    margin-left: 5%;
    margin-right:20px;
    margin-top: 15px;
}

#learningList{
    width:70%;
    margin-left:15%;
    margin-bottom:250px;
}

#learningFacil {
    margin-top:-300px;
}

.subHeading{
    text-align: center;
    font-size:25px;
    text-decoration: underline;
}

.learningIntro #heading{
    padding-left:-10%;
    padding-right:-10%;
    color: white;
    text-align: center;
}

ol{
    margin-left:5%;
    list-style-type: upper-roman;
}

ol li{
    margin-top:2%;
}