.currentPage{
    background: #2a2527;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

/* nav */
nav{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

nav li {
    float: left;
}

nav ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b95345;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


footer {
    display:flex;
    align-self: flex-end;
    height:40px;
    background:#2a2527;
    height: 125px;
}

header {
    display:flex;
    margin:0;
    justify-content: space-between;
    flex-direction: column;
    background:#2a2527;
}

#bannerContainer img {
    width: 100%;
    height: auto;
}

#bannerContainer .enrol {
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -40px;
    margin-bottom: 40px;
    background-color: #2a2527;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 5px;
    text-align: center;
}
  
#bannerContainer .enrol:hover {
    background-color: #b95345;
    color: white;
}

main img{
    max-width: 100%;
    height: auto;
}

#heading{
    text-align: center;
    background-color: #b95345;
    color:white;
    width:90%;
    margin:auto;
    padding: 10px;
}

body {
    margin:0;
}

main {
    margin:auto;
    height: 6000px;
    border:1px solid black;
}

section {
    min-width: 1000px;
}

#asideText {
    margin-top: 2.5%;
    margin-left:5%;
    width: 42.5%;
    min-width:190px;
    max-width:300px;
    min-height: 250px;
    float:left;
    border: 1px solid black;
    max-height:400px;
}

aside img{
    margin-top:2.5%;
    margin-right:5%;
    width: 42.5%;
    min-width:190px;
    max-width:300px;
    min-height: 250px;
    float:right;
}

