.active{
    background: #2a2527;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

/* nav */
nav{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

nav li {
    float: left;
}

nav ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b95345;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


footer {
    display:flex;
    align-self: flex-end;
    height:40px;
    background:#2a2527;
    height: 125px;
}

header {
    display:flex;
    margin:0;
    justify-content: space-between;
    flex-direction: column;
    background:#2a2527;
}

#bannerContainer img {
    width: 100%;
    height: auto;
}

#bannerContainer .enrol {
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -40px;
    margin-bottom: 40px;
    background-color: #2a2527;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 5px;
    text-align: center;
}
  
#bannerContainer .enrol:hover {
    background-color: #b95345;
    color: white;
}

main img{
    max-width: 100%;
    height: auto;
}

#heading{
    text-align: center;
    background-color: #b95345;
    color:white;
    width:90%;
    margin:auto;
    padding: 10px;
}

body {
    margin:0;
    min-width: 400px;
}

main {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    margin:auto;
    border:1px solid black;
}

section {
    margin-bottom: 10%;
}

#asideText {
    margin-top: 2.5%;
    margin-left:5%;
    width: 42.5%;
    max-width:300px;
    float:left;
    border: 1px solid black;
}

#asideText p{
    padding:0% 5%;
}

aside img{
    margin-top:2.5%;
    margin-right:5%;
    width: 42.5%;
    max-width:300px;
    float:right;
}

#section1 img{
    margin-top: 10%;
}

#section2 img{
    margin-top:15%;
}

#section3 img{
    margin-top:15%;
}


#section2 img{
    float:left;
    margin-left:5%;
    margin-right:0%;
}

#section2 #asideText{
    float:right;
    margin-right:5%;
    margin-left:0%;
    margin-top:5%;
}

#section3 #asideText {
    float: left;
    margin-left: 5%;
    margin-right:0%;
    margin-top:5%;
}

#section3 img{
    margin-top: 5%;
    margin-left:30%;
    margin-right:30%;
}

.sidePanel {
    display:none;
}

.content #asideText {
    max-width: 100%;
    width:70%;
    margin-left:15%;
    font-size:25px;
}

.content #heading{
    margin-top: 5%;

}

.content #secondaryHeading{
    margin-top:40%;
}

#asideText h5{
    text-align: center;
}

.content img{
    width:60%;
    min-width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
}

.content #courses{
    margin-top:-10%;
}


footer {
    height:120px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:10%;
    display:flex;
    justify-content: space-around;
    color:white;
}

#copy{
    margin-top:20%;
    font-size: 12px;
}